doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Rupeshkumar - Full Stack

        link(rel='icon', type='image/x-icon', href='assets/img/favicon_1.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Rupeshkumar Vhora
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#achievement') Achievement

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Rupeshkumar 
                        span.text-primary Vhora
                    .subheading.mb-5
                        | 248 Moore Park St · Paddington Sydney, 2021 · (+61) 452-645-028 · 
                        a(href='mailto:rupeshvhora1988@gmail.com') rupeshvhora1988@gmail.com
                    p.lead.mb-5
                        | A technology visionary, customer focused senior IT professional with 10 years of experience in full software development. Work experience at customer locations including IAG and Verint - Sydney. HVRO, QPS and BCC - Brisbane and other. Passionate about learning new programming languages, frameworks and technologies.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/rupesh-vhora/' target='_blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://www.github.com/rvhora' target='_blank')
                            i.fab.fa-github
                        a.social-icon(href='https://www.facebook.com/rupesh.vhora' target='_blank')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Solutions Consultant
                            .subheading.mb-3 SPAR Solutions.
                            p
                                | Work with clients as a senior solutions consultant on various projects involving different technology platforms.
                            p
                                | On-site client engagement for project deliveries.
                            p
                                | Full stack development responsibilities working with various business domains including CRM / Insurance / Government.
                            p
                                | Played the technical lead role for delivery of a managed services project
                                and Mentoring the team for technical know-how.
                            p
                                | Working for G2C focussed solutions using VERINT(KANA) Lagan product
                                Gather analyse business requirements and translate into efficient software solutions.
                        .flex-shrink-0
                            span.text-primary March 2011 - Present
							                   
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Full Stack Developer
                            .subheading.mb-3 Freelance.
                            p
                                | Working on a range of freelance web projects including wordpress and react application developement.
                            p
                                | Contributed to building the website for clients, responcible for all the frontend work and responsiveness.
                            p
                                | Web developer able to build a web application from start to finish.
                        .flex-shrink-0
                            span.text-primary November 2020 - Present

            hr.m-0

            // Projects
            section#projects.resume-section
               .resume-section-content
                    h2.mb-5 Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Full Stack Developer/ React
                            .subheading.mb-3 LocumTenens.com. Location - Sydney, Australia.
                            p
                                | Designed / architected and developed front-end of our portal application using ReactJS and reusable components.
                            p
                                | Build CI-CD using Azure pipeline and Azure B2C user management and configurations.
                            p
                                | Azure B2C reporting and alerting using Azure app insights integrations. User data Migration scripting.      
                        .flex-shrink-0
                            span.text-primary March 2020 - Ongoing
							
							
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Wordpress Developer
                            .subheading.mb-3 uko.com & plus-u.com.au - Sydney, Australia.
                            p
                                | Website - https://plus-u.com.au/ and https://uko.com.au/
                            p
                                | Designing and implementing new features and functionality.
                            p
                                | Enhance and customzie existing website theme, plugins.      
                            p
                                | Hubspot CRM integration for chat, forms, appointment functionality.      
                        .flex-shrink-0
						
                            span.text-primary November 2020 - Ongoing
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Operations Specialist and Software Developer
                            .subheading.mb-3 Insurance Australia Group (IAG). Location - Sydney, Australia
                            p
                                | Insurance Australia Group Limited (IAG) is the largest general insurance company in Australia and New Zealand
                                Design develop and enhance modules in Kana Enterprise CRM and reporting system. Support the production environment and improve monitoring across applications.
                            p  
                                | Enhance configuration management system, CI/CD, and DevOps processes.Involved in Prod and non-prod deployment and release process.
                        .flex-shrink-0
                            span.text-primary October 2017 - March 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Developer 
                            .subheading.mb-3 Star2Star Communication Custom Development. Location - Pune, India. 
                            p
                                | Full stack developer with architecture responsibilities to design solutions to technical requirements with high quality and timeliness. Worked with Java based applications while handling various aspects and integration with 3rd party services through the REST API.
                            p
                                | Front-end Development: Design for front end application and worked on ReactJs and bootstrap for front end development.
                                Application Support and Automation. 

                        .flex-shrink-0
                            span.text-primary January 2017 - October 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Software Developer
                            .subheading.mb-3 Queensland Police Service. Location - Brisbane, Australia.
                            p
                                | Heavy Vehicle Road Operations (HVRO)
                                is Heavy vehicle operation system which is used to provide police escorts for heavy vehicle. HVRO application is used to take client details using Email or other communication channel and creates and automates the cases for clients and other CRM operations.
                                Responsibilities - Implementation and enhancement of the HVRO application using EVA f/w. Mapping the Business Processes against KANA Applications functionality. Build and deployment of application using CI/CD.

                            p
                                | Weapons Applications Online (WAO) Phase 2A
                                is online portal from where individuals and businesses can apply for new weapon licence, Permit to Acquire Application, Licence renewal Application.
                                Responsibilities - Full stack developer building solutions, involved in all part of SDLC cycle of project. Application customization and worked on payment module of the new application. Worked on third party web services integration with application. Customization and enhancement of KANA API based on business need.

                        .flex-shrink-0
                            span.text-primary May 2016 - December 2016

       

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Software Developer
                            .subheading.mb-3 Managed Services - Kana and Lagan Enterprise. Location -  Pune and Glasgow, UK. 
                           
                            
                        .flex-shrink-0
                            span.text-primary April 2014 - May 2016


                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Software Developer
                            .subheading.mb-3 Minneapolis Upgrade and DPSS Los Angeles Upgrade. Location -  Pune, India. 
                            
                        .flex-shrink-0
                            span.text-primary January 2013 - May 2014


                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Software Developer
                            .subheading.mb-3 COSA Member’s Portal. Location -  Pune, India. 
                            
                        .flex-shrink-0
                            span.text-primary June 2011 - December 2012

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Pune, India
                            .subheading.mb-3 Bachelor of Engineering
                            div Computer Science
                            
                        .flex-shrink-0
                            span.text-primary August 2006 - May 2010

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Mudhoji High School
                            .subheading.mb-3 Higher School Certificate
                            div Techonology and Science Program
                            
                        .flex-shrink-0
                            span.text-primary August 2004 - May 2006

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-git
                        li.list-inline-item
                            i.fab.fa-node
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-aws


                    .subheading.mb-3 TECHNICAL SKILLS
                    ul.fa-ul.mb-0
                        
                        li
                            span.fa-li
                                i.fas.fa-check
                            | FRONTEND - React | Redux | HTML | Javascript | CSS | ES6/7 | SASS | JSON 
                        li
                            span.fa-li
                                i.fas.fa-check
                            | BACKEND - Java | Spring | KANA enterprise | Verint | NodeJs | REST API
                        li
                            span.fa-li
                                i.fas.fa-check
                            | DEVOPS - Azure | AWS | CI-CD | Splunk | Docker | NPM | GIT | HEROKU | SURGE 
                        li
                            span.fa-li
                                i.fas.fa-check
                            | DATABASE - SQL | MySQL | Oracle | MongoDB
                        li
                            span.fa-li
                                i.fas.fa-check
                            | PROJECT MANAGEMENT - Agile/Scrum Methodologies | JIRA
                        li
                            span.fa-li
                                i.fas.fa-check
                            | CMS AND CRM - Wordpress | Hubspot CRM

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Apart from being a web developer, I enjoy most of my time being outdoors. I love to travel to destinations with a story to tell, seeking for local specialities, and jaw-dropping natural scenery. I enjoy exploring new places, learning about their cultures. Photography is another thing in my fields of interest.
                    p.mb-0
                        | When I am indoors, I follow a number of world cinema, war, history, adventure and sci-fi genre movies and web series. I spend an ample amount of my free time exploring the latest technology advancements in the front-end web development world.

            hr.m-0

            // Achievement
            section#achievement.resume-section
                .resume-section-content
                    h2.mb-5 Achievement & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Participated in IAG hackathon - developed monitoring tool using ReactJS to monitor use roster information combining Orbit logs to be able to see where the users (front-line colleagues) are operating and to monitor technical issue.
                       
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2
                            sup nd 
                            | Place - University of Pune - National Level Project Competition 2009
                        

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')